# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.pyd
*.dll

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode and PyCharm settings (optional)
.vscode/
.idea/

# MacOS and Linux clutter
.DS_Store
*.swp

__pycache__/
*.py[cod]